.cuadro{ /*class*/
    background-color: rgba(55, 0, 255, 0.897); 
    flex: 1;
    flex-direction: row;
    text-align: center; 
    border-radius: 10px;
}
.cuadro-principal{ /*class*/
    background-color: rgba(251, 255, 0, 0.692); 
    flex: 1;
    flex-direction: row;
    text-align: center; 
    border-radius: 10px;
}
.cuadro-compra{ /*class*/
    background-color: rgba(238, 255, 0, 0.904); 
    flex: 1;
    flex-direction: row;
    text-align: center; 
    border-radius: 10px;
}

#container{ /*id*/
    display: flex; 
    gap: 10px;
}

@media (max-width:480px){ /*media query*/
    #container{ /*id*/
        flex-direction: column;
    }
}